body{
    background-color: rgb(31, 30, 30);
    color: white;
}


.contenitore{
    display: flex;
    justify-content: center;
}

#slideBox{
    background-color: brown;
    margin-top: 5rem;
    width: 60vw;
    height: 50vh;
}

#slide{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.spaceAroundMargin{
    margin-top: 5px;
    justify-content: space-around;
}

.pRelative{
    position: relative;
}

.absolutH2{
    position: absolute;
    bottom: 50px;
}

.absolutP{
    position: absolute;
    bottom: 0px;
}

.dNone{
    display: none;
}